@model IEnumerable<Request>

<h2>Requests</h2>

<div style="display: block">
    <a href="/Request/InsertRequest/">Create a New Request</a>
</div>

<table class="table">
    <tr>
        <th>Request ID</th>
        <th>Name</th>     
        <th>Category ID</th>
        <th>Request description</th>
        <th>Request status</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Initiator</th>
        <th>Assignee</th>
    </tr>

    @foreach (var request in @Model)
    {
        <tr>
            <td><a href=/Request/ViewRequest/@request.RequestID>@request.RequestID</a></td>
            @*<td>@request.RequestID</td>*@
            @*<td>@request.Name</td>*@
            <td><a href=/Request/ViewRequest/@request.RequestID>@request.Name</a></td>
            <td>@request.CategoryID</td>
            <td>@request.RequestDESC</td>
            <td>@request.RequestSTATUS</td>
            <td>@request.StartDate</td>
            <td>@request.EndDate</td>
            <td>@request.Initiator</td>
            <td>@request.Assignee</td>
        </tr>
    }

</table>