@model Request

<style>
    body {
        background: radial-gradient( hsl(218, 41%, 35%) 25%, #f7aba6);
        background-image: radial-gradient(1050px circle at 0% 0%, hsl(218, 41%, 35%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%), radial-gradient(1550px circle at 100% 100%, hsl(218, 41%, 45%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%);
        /*        font-family: 'Lobster', cursive;
            font-size: large; */
    }
</style>

<h2 style="font-family:'Agency FB'; color:#fa8178; text-align:center; font-size:xx-large; font-weight:700; text-shadow: 5px 5px 7px blue;">Update "  @Model.Name " request</h2>

@using (Html.BeginForm("UpdateRequestToDatabase", "Request", "Post"))
{
    <div style="color:aliceblue; font-size:x-large; font-family:'Agency FB';">
        <input asp-for="RequestID" type="hidden" value="@Model.RequestID" />

        <label asp-for="Name" class="control-label">Name</label>
        <input type="text" name="Name" class="form-control" value="@Model.Name" />

@*        <div class="form-group">
            <label for="">Select a Category</label>
            <select class="form-control" name="CategoryID" value="">
                @foreach (var cat in Model.Categories)
                {
                    <option value="@cat.Name"> @cat.Name</option>           
                }
            </select>
        </div>
*@

        <label asp-for="CategoryID" class="control-label">CategoryID</label>
        <input type="text" step="0.01" name="CategoryID" class="form-control" value="@Model.CategoryID" />


        <label asp-for="RequestDESC" class="control-label">Request description</label>
        <input type="text" step="0.01" name="RequestDESC" class="form-control" value="@Model.RequestDESC" />

        <label asp-for="RequestSTATUS" class="control-label">Select a Status</label>
        <input type="text" step="0.01" name="RequestSTATUS" class="form-control" value="@Model.RequestSTATUS" />


        <label asp-for="StartDate" class="control-label">Start Date</label>
        <input type="date" step="0.01" name="StartDate" class="form-control" value="@Model.StartDate" />

        <label asp-for="EndDate" class="control-label">End Date</label>
        <input type="date" step="0.01" name="EndDate" class="form-control" value="@Model.EndDate" />

        <label asp-for="Initiator" class="control-label">Initiator</label>
        <input type="text" step="0.01" name="Initiator" class="form-control" value="@Model.Initiator" />

        <label asp-for="Assignee" class="control-label">Assignee</label>
        <input type="text" step="0.01" name="Assignee" class="form-control" value="@Model.Assignee" />
        <input type="submit" value="Update Request" class="btn btn-primary" />
    </div>
   


    @*    <input asp-for="RequestID" type="hidden" value="@Model.RequestID" />
    <label asp-for="Name" class="control-label">Name</label>
    <input type="text" name="Name" class="form-control" value="@Model.Name" />
    <label asp-for="CategoryID" class="control-label">Category ID</label>
    <input type="number" step="0.01" name="CategoryID" class="form-control" value="@Model.CategoryID" />
    <label asp-for="RequestDESC" class="control-label">Request description</label>
    <input type="number" step="0.01" name="CategoryID" class="form-control" value="@Model.CategoryID" />
    <label asp-for="RequestSTATUS" class="control-label">Request STATUS</label>
    <input type="number" step="0.01" name="RequestSTATUS" class="form-control" value="@Model.RequestSTATUS" />
    <label asp-for="EndDate" class="control-label">End Date</label>
    <input type="number" step="0.01" name="EndDate" class="form-control" value="@Model.EndDate" />
    <label asp-for="Initiator" class="control-label">Initiator</label>
    <input type="number" step="0.01" name="Initiator" class="form-control" value="@Model.Initiator" />
    <label asp-for="Assignee" class="control-label">Assignee</label>
    <input type="number" step="0.01" name="Assignee" class="form-control" value="@Model.Assignee" />
    <input type="submit" value="Update Request" class="btn btn-primary" />*@
}