@model Request


<style>
    body {
        background: radial-gradient( hsl(218, 41%, 35%) 25%, #f7aba6);
        background-image: radial-gradient(1450px circle at 0% 0%, hsl(218, 41%, 35%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%), radial-gradient(1950px circle at 100% 100%, hsl(218, 41%, 45%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%);
        /*        font-family: 'Lobster', cursive;
            font-size: large; */
    }
</style>

<h3 style="font-family:'Agency FB'; color:#fa8178; text-align:center; font-size:xx-large; font-weight:700; text-shadow: 5px 5px 7px blue;">"@Model.Name" Request Information</h3>


<table class="table" style="color:aliceblue; font-size:x-large; font-family:'Agency FB';">
    <tr style="text-align:center">
        <th>Request ID</th>
        <th>Name</th>
        <th>CategoryID</th>
        <th>RequestDESC</th>
        <th>RequestSTATUS</th>
        <th>StartDate</th>
        <th>EndDate</th>
        <th>Initiator</th>
        <th>Assignee</th>
    </tr>
    <tr style="text-align:center">
        <td>@Model.RequestID</td>
        <td>@Model.Name</td>
        <td>@Model.CategoryID</td>
        <td>@Model.RequestDESC</td>
        <td style="color: indianred; font-family:'Agency FB';">@Model.RequestSTATUS</td>
        <td>@Model.StartDate</td>
        <td>@Model.EndDate</td>
        <td>@Model.Initiator</td>
        <td>@Model.Assignee</td>
    </tr>
</table>



<div class="card-body">
    <a class="dropdown-item justify-content-center text-center" style="color:aliceblue; font-size:xx-large; font-family:'Agency FB'; background: radial-gradient( hsl(218, 41%, 35%) 25%, #f7aba6); " href="/Request/UpdateRequest/@Model.RequestID">Update this Request</a>
</div>






<div class="p-3 col text-center">

    @using (Html.BeginForm("DeleteRequest", "Request", "Post"))
    {
        <input type="hidden" asp-for="RequestID" value="@Model.RequestID" />
        <input style="color:aliceblue; font-size:xx-large; font-family:'Agency FB'; background: radial-gradient( hsl(218, 41%, 35%) 25%, #f7aba6);" type="submit" onclick="return confirm('Are you sure?')" value="Delete this request" />
    }
</div>

<div class="card-body">
    <a class="dropdown-item justify-content-center text-center" style="color:aliceblue; font-size:xx-large; font-family:'Agency FB'; background: radial-gradient( hsl(218, 41%, 35%) 25%, #f7aba6); " asp-controller="Request" asp-action="Index">Back to all requests</a>
</div>
